body, html{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: grey;

  font-family: 'Roboto', "Helvetica Neue",  Arial;
}

#underNav {
  padding-top: 10px;
  padding-bottom: 30px;
}

.bg {
  background: url("images/toy_story_backdrop.jpg");

  /* Set a specific height */
  min-height: 100%;

  color: white;

  background-position: top;
  background-size: cover;
}

.navbar {
  height: 60px;
}

.navbar-brand {
  padding: 0px;
  height: 50px;
  width: 50px;
  margin-left: -10px;
}

.dropdown-menu {
  box-shadow: 2px 2px 3px #888888;
}

.card {
   margin-bottom: 30px;
   color: black;
}

.col-lg-6 {
  padding-left: 40px;
}

#total{
  font-size: 28px;
}

#summaryBox{
  width: 15%;
  position: fixed;  /* follows you as you scroll */
}

#placeOrderBox{
  height: 100%;
}

.black{
  background-color: black;
  color: white;
}

.blue{
  background-color: blue;
}

#orderSumItems {
  /* makes text all in one line */
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}